.body {
  font-family: Raleway, serif;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
